@import "tailwindcss";

@theme {
  /* This line is the missing link. It tells Tailwind: 
     "If you see the .dark class on a parent, turn on the dark: styles" */
  --variant-dark: .dark &;
}

@layer base {
  body {
    /* Set the default colors and transition here for the whole app */
    @apply transition-colors duration-300 bg-white dark: bg-gray-900 text-gray-900 dark:text-white;
  }
}

button {
  cursor: pointer;
}

@keyframes toastShrink {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}